/* 최소 reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
ul,
li,
fieldset,
form,
label,
legend {
    margin: 0;
    padding: 0;
    border: 0
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

button,
input,
select,
textarea {
    font: inherit
}