@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundEB.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}




body {
  margin: 0;
  font-family: 'NanumSquareRound', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
